<section class="main country">
  <br>
  <div class="row">
    <h2>— {{model.full_name}} —</h2>
  </div>
  <div class="row">
    <div class="small-8 small-centered medium-4 medium-centered columns flag-showpage-container" style="background-image:url(../images/flags/{{model.flag_url}})">
    </div>
    <div class="small-12 small-centered columns">
      <p>{{{model.description}}}</p>
      {{country-stats model=model}}
    </div>

  </div>
  {{country-map model=model}}
  <br>
</section>
{{outlet}}
