<p>
  <strong>Population:</strong> {{populationStyled}}<br>
  <strong>Per capita GDP (PPP):</strong> {{numberStyled}} USD<br>
  <strong>Capital:</strong> <a href="https://en.wikipedia.org/wiki/{{model.capital}}" target="_blank">{{model.capital}}</a><br>
  <strong>Type of government:</strong> {{model.government_type}}<br>
  <strong>Languages:</strong> {{model.languages}}<br>
  <strong>Country code:</strong> {{model.country_code}}
</p>
{{yield}}
